<div class="container">
    <img src="/images/beer.png" alt="beer-image">
    <a class="btn btn-primary" href="/beers">Check Beers</a>
    <a class="btn btn-primary" href="/beers-random">Check a Random Beer</a>
</div>